pkgbase = bruno-essentials
	pkgdesc = A metapackage for some packages I find essential. Requires userrepository.eu repo
	pkgver = 0.0.27
	pkgrel = 1
	url = https://github.com/brunomiguel/base-bruno
	arch = any
	license = GPL3
	depends = tmux
	depends = alacritty
	depends = gotop
	depends = paru
	depends = inxi
	depends = brightnessctl-git
	depends = broot
	depends = htop
	depends = git
	depends = scat
	depends = reflector
	depends = openssh
	depends = cpupower
	depends = bash-completion
	depends = fzf
	depends = glow
	depends = ncdu
	depends = zsh
	depends = zsh-completions
	depends = zsh-history-substring-search
	depends = cod
	depends = zsh-pure-prompt
	depends = linux-zen
	depends = linux-zen-headers
	depends = linux-lts
	depends = linux-lts-headers
	depends = nvim
	depends = vim
	depends = micro
	depends = typora
	depends = youtube-dl
	depends = unrar
	depends = unzip
	depends = profile-cleaner
	depends = zps
	depends = glow
	depends = profile-sync-daemon
	depends = navi
	depends = moar
	depends = yt-dlp
	depends = gimp
	depends = gimp-plugin-gmic
	depends = pavucontrol
	depends = vlc
	depends = curseradio-git
	depends = jpegoptim
	depends = optipng
	depends = oxipng
	depends = youtube-viewer-git
	depends = darktable
	depends = pyradio-git
	depends = shortwave
	depends = ttf-league-mono
	depends = ttf-inter-ui
	depends = ttf-roboto-mono
	depends = otf-inter-ui
	depends = ttf-public-sans
	depends = ttf-font-awesome
	depends = otf-rubik
	depends = plasma-desktop
	depends = konsole
	depends = ark
	depends = gwenview
	depends = kde-gtk-config
	depends = kdeplasma-addons
	depends = ksysguard
	depends = powerdevil
	depends = spectacle
	depends = kio-extras
	depends = kcalc
	depends = kcron
	depends = dolphin
	depends = dolphin-plugins
	depends = kdeconnect
	depends = oxygen
	depends = plasma-nm
	depends = plasma-pa
	depends = konsole
	depends = okular
	depends = kate
	depends = print-manager
	depends = sddm
	depends = firefox
	depends = firefox-i18n-pt-pt
	depends = flameshot
	depends = libreoffice-fresh
	depends = bitwarden
	depends = i3
	depends = polybar
	depends = rofi
	depends = picom-ibhagwan-git
	depends = nitrogen
	depends = boston-icon-theme-git
	depends = steam
	depends = gamehub
	depends = lutris
	depends = protonup-qt
	depends = konversation
	depends = caprine

pkgname = bruno-essentials
